/* You can add global styles to this file, and also import other style files */
html {
  height:100%; 
}

body {
  text-align: center;
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #b3e6eb, #6281c9);
  background: linear-gradient(to left, #b3e6eb, #6281c9);
  height:100%; 
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.white {
  color: white !important;
}

.strike-through {
  text-decoration: line-through;
}

textarea {
  width: 60%;
  height: 5em;
  margin:10px 0px 0px 0px;
}

strong + small {
  display: block;
}

input[type=checkbox] {
  margin-right: 1em;
}

div.pull-right a {
  margin-left: 1em;
}

floatLeft {
  float:left;
}

button {
  background-color: azure;
}

td {  
  border-top: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 80%;
  background-color:white;
  margin:0px auto;
  border-radius: 10px 10px 10px 10px;
}

tr{
  height:25px;
}

th {
  width: 10%;
  text-align: center;
}

th:nth-child(2){
  width:85%;
}

td:nth-child(2){
  width:85%;
  text-align: left;
}

.tf{
  text-align: center;
  display:inline-flex;
}

.top-left{
  grid-column-start: 1;
}

div.inlign{
  display:inline-flex;
  justify-content: center;
}

p{
  margin:0px 10px;
}

h4{
  margin:0px 0px 10px 0px;
}

.message{
  color:red;
}

@keyframes leaves {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.grid2 {
  grid-column: 2;
}

.hello{
  animation-name: leaves;
  animation-duration: 1s;
}

.EditBox{
  height:80%;
  width:80%;
  background-color: white;
  border-radius: 25px 25px 25px 25px;
}